<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="huoyuanfenpeifuzhu.Properties.Settings.ConnectionString"
            connectionString="Provider=IBMOLEDB.DB2COPY1;Data Source=cig;Persist Security Info=True;Password=Shaorong01;User ID=db2admin;Location=10.67.65.7"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>